[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.apk
*.aab
*.unitypackage
*.log
*.autosave
sysinfo.txt